.application {
    position: relative;

    &__header {
 
    }

    &__main {

    }

    &__footer {
        position: absolute;
        bottom: 0;

        width: 100%;
    }

    &__scripts {

    }

    &__noscript {

    }
}