/*
================================================================================

    This file is only for color variables, do NOT write any styles here.

    MUST: Use the nameing convention (color-[nameOfTheColor]-100 till
    color-[nameOfTheColor]-900) for color variables.

    IMPORTANT: color-[nameOfTheColor]-500 is the main color, not 400

================================================================================
*/

$color-white-500: #FFFFFF !default;

$color-black-500: #000000 !default;
