<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="taxi">
  <meta name="keywords" content="taxi">
  <meta name="author" content="Petar Todorov">

  <link rel="shortcut icon" th:href="@{/images/favicon/favicon.ico}" type="image/x-icon">

  <link rel="stylesheet" type="text/css" th:href="@{/css/application-styles.css}"/>


  <title>Layout</title>
</head>
<body class="application">
  <noscript>
    Sorry, your browser does not support JavaScript!
  </noscript>

  <header>
    <div th:replace="fragments/main-navigation::mainNavigation"></div>
  </header>


  <main class="mb-5">
    <section layout:fragment="main-content"></section>
  </main>

<!--  <footer class="application__footer">-->
<!--    <div th:replace="fragments/main-footer::mainFooter"></div>-->
<!--  </footer>-->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
          integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
          crossorigin="anonymous"></script>
</body>
</html>